<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let city of cities">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{city.name}}
        </mat-panel-title>   
        <mat-panel-description>
            
        </mat-panel-description>

      </mat-expansion-panel-header>
            <img [src] = "city.image">
            <p *ngIf="city.temperature">Temperatures is: {{city.temperature | number:'1.0-0'}}º</p>
            <p *ngIf="city.humidity">Humidity is : {{city.humidity}}</p>
            <p *ngIf="city.prediction">{{city.prediction }}</p>
            <span class = "spacer"></span>
            <button
                (click)="getDataForCity(city)"
                *ngIf="!city.temperature">
                Get Data
            </button> 
            <button
                (click)="predictCity(city)"
                *ngIf="city.temperature && !city.prediction">
                Predict
            </button> 
            <button
                (click)="saveToFirestore(city)"
                *ngIf="city.prediction && !city.saved">
                Save
            </button> 
            <button
                (click)="getNewData()"
                *ngIf="city.prediction && city.saved">
                Get New Data
            </button> 
    </mat-expansion-panel>
  </mat-accordion>